.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-box textarea {
  width: 417px;
  height: 65px;
  font-size: 10px;
  text-align: center;
}

.containerMain.containerheaderFooter {
  display: flex;
  justify-content: space-between;
}

.navBtns {
  display: flex;
  gap: 10px;
}

.btnNav {
  background-color: rgba(255, 255, 255, 0.639);
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
}

.btnNav:hover {
  background-color: rgba(202, 202, 202, 0.639)
}

button {
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

