<div class="containerMain">
  <div class="headerALLItems">
    <nav>
      <div class="code-box">
<!-- THIS \/\/\/ TEXTAREA MUST BE ALL THE WAY TO THE LEFT, NO TABING -->
<textarea class="textCodeBox">
____ ____ ____ ____ ____ _________ ____ ____ ____ ____ ____
||H |||A |||C |||K |||Y |||       |||P |||R |||A |||K |||Y ||
||__|||__|||__|||__|||__|||_______|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/_______\|/__\|/__\|/__\|/__\|/__\|
</textarea>
<!-- <button onclick="runCode()">Run Code</button> -->
</div>
</nav>
</div> <!-- END class="headerALLItems" -->
</div> <!-- End containerMain  -->
<div class="containerMain containerheaderFooter">

<button class="btnNav marg5" routerLink="/home">HOME</button>
<button *ngIf="isAdmin" class="btnNav marg5" routerLink="/game-admin">ADMIN HOME</button>

<div class="navBtns">
  <button *ngIf="(authUser$ | async)"
  class="btnNav marg5"
  (click)="logOut()">
  LOGOUT
</button>
<button *ngIf="!(authUser$ | async)"
class="btnNav marg5"
routerLink="/login">
LOGIN
</button>
</div>
</div>

