.containerMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-box textarea {
  width: 417px;
  height: 65px;
  font-size: 10px;
  text-align: center;
}

.containerMain.containerheaderFooter {
  display: flex;
  justify-content: space-between;
}

.navBtns {
  display: flex;
  gap: 10px;
}
