<div class="containerMain">
  <button class="btnHome marg5" routerLink="/game-admin">ADMIN HOME</button>
</div>

<button class="btnNewGame marg5" (click)="startGame()">NEW GAME</button>


<!-- <div class="timer-container">
  <h2>Timer</h2>
  <div class="input-container">
    <label class="label" for="hours">Hours:</label>
    <input type="number" id="hours" min="0" max="24" [(ngModel)]="hours">
  </div>
  <div class="input-container">
    <label class="label" for="minutes">Minutes:</label>
    <input type="number" id="minutes" min="0" max="59" [(ngModel)]="minutes">
  </div>
  <div>
    <h3>Current Countdown</h3>
    <div>{{ countdown }}</div>
  </div>
  <button id="reset-button" (click)="startCountdown()">Reset Game</button>
  <button id="stop-button" (click)="stopCountdown()">Stop Game</button>
</div> -->


