<div class="headerLoonyLogins">
  <div>
    LOONEY LOGINS
  </div>
  <div *ngIf="firestoreUser">
    {{firestoreUser.userName}} | POINTS: {{firestoreUser.points001}}
  </div>
</div> <!-- headerLoonyLogins END-->

<div class="containerMain">
  <div class="currentGameInfo">
    <div>
      Correct Login is worth: points.
    </div>
    <div>
      Enter the correct username and password to win points.
    </div>
  </div> <!-- currentGameInfo End -->
  <div class="conatinerLogin">
    <div class="itemsLogin">
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="admin">

        <form (submit)="checkPassword(password.value, password)">
          <input type="password" id="password" name="password" #password>
          <button type="submit">Submit</button>
        </form>

        <button type="submit">Login</button>
      </form>
      <p *ngIf="looneyLoginService.hash$" style="font-size: 11px;">
        Current Hash {{ looneyLoginService.hash$ | async}}
      </p>

      <p *ngIf="looneyLoginService.hash$">
        Current Order {{ looneyLoginService.order$ | async }}
      </p>
    </div>
  </div> <!-- conatinerLogin END -->

  <div class="globalPoints">
    <div class="scoreboard" *ngIf="looneyLoginService.gameStatus$ | async">
      <h2>Current Game Scoreboard</h2>
      <ul>
        <li>Player 1: 100 points</li>
        <li>Player 2: 80 points</li>
        <li>Player 3: 120 points</li>
      </ul>
    </div>
    <hr>
    <div class="scoreboard">
      <h2>Leader Board</h2>
      <ul>
        <li>Player 1: 100 points</li>
        <li>Player 2: 80 points</li>
        <li>Player 3: 120 points</li>
      </ul>
    </div>
  </div> <!-- globalPoints END -->
</div> <!-- containerMain END -->
